body{
    margin: 0px;
    overflow-x:hidden;
}
#whitelogo{
    display: none;
}
.logotaskbar{
    height: 80px;
}
.taskbar-1{
    margin-left: 20px;
}
.taskbar-5{
    margin-right: 27px;
}
.kidtask-1{
    display: flex;
    gap:30px
}
.kidtask-2{
    display: flex;
    gap:30px
}
.taskbar{
    display: flex;
    color: #1A5908;
    min-width: 100vw;
    height: 70px;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: #F5F0E0;
    font-size: 21px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2F4231;
}
.container{
    position: relative;
    display: flex;
    height:100vh;
    background-image: url("./StockWebsite/header.webp");
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.container::after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.205);
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.342);
    width: 100%;
    height: 100%;
}
.title{
    z-index: 1;
    color: #FFFAEF;
    font-size: 80px;
}
.buttonarrow{
    z-index: 1;
    color: #1A5908;
    font-size: 20px;
    border: 1px solid #1A5908;
    padding: 5px 20px;
    border-radius: 50%;
    margin-top: 0px;
    position: relative;
    overflow: hidden;
    width: fit-content;
}
.buttonarrow::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1A5908;
    left: 0%;
    top: 100%;
    transition: all 0.3s ease;
}
.bingxue:hover .buttonarrow::after{
    top: 0%;
}
.buttonarrow::before{
    position: absolute;
    content: "→";
    color: #FFFAEF;
    top: -75%;
    z-index: 1;
    transition: all 0.3s ease;
}
.bingxue:hover .buttonarrow::before{
    top:4px;  
}
.nen-2:has(.improve:hover){
    background-color:rgba(255, 166, 0, 0.274);
}
.nen-2:has(.reduce:hover){
    background-color: rgba(255, 160, 122, 0.459);
}
.bingxue{
    width: 80%;
    display: flex;
    align-items: center;
    padding:40px 0px;
    border-bottom: 1px solid #1A5908;
}
.divinthree{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subTitlehover{
    font-size: 80px;
    text-align: center;
    justify-content: center;
    width: 80%;
    transition: all 0.3s ease;
}
.bingxue:hover .subTitlehover {
    transform: skewX(-20deg);
}
.protectbutton{
    width: 20%;
    display: flex;
    justify-content: end;
}
.button{
    z-index: 1;
    color: #1A5908;
    font-size: 25px;
    background-color: #FFCE70;
    padding: 17px 30px;
    border-radius: 50%;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1A5908;
    left: 0%;
    top: 100%;
    transition: all 0.5s ease;
}
.button:hover::after{
    top: 0%;
}
.button::before{
    position: absolute;
    content: "Get Started";
    color: #FFCE70;
    top: -75%;
    z-index: 1;
    transition: all 0.4s ease;
}
.button:hover::before{
    top:15px;  
}
.thefiberofourbeing{
    background-color: #FFCE70;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    height: 95vh;
}    
.gifvideo video{
    height: 100%;
}
.gifvideo{
    width: 700px;
    height: 700px;
    overflow: hidden;
    border-radius: 35px;
}
.mainright{
    color: #1A5908;
    width: 700px;
    height: 700px;
}
.maintitle{
    font-size: 70px;
}
.subtitle{
    font-size: 22px;
}
.ourscience{
    font-size: 30px;
    transition: all;
    display: inline-block;
    position: relative;
}
.ourscience::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #1A5908;
    bottom: 0%;
    left: 0%;
    opacity: 0;
    transition: all 0.7s ease;
}
.ourscience:hover::after{
    opacity: 1;
}
.ourscienceandarrow{
    display: flex;
}
.arrow{
    font-size: 30px;
}
.gay{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pictureoflong img{
    width: 350px;
}
.mainright{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.nen{
    background-color: #FFFAEF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 80px 30px 80px;
}
.meetthefl{
    font-size: 70px;
    color: #1A5908;
    text-align: center;
    margin-top: 20px;
}
.textcenter{
    text-align: center;

}
.fourpicreveal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 50px;
}
.imgcontainer-t{
    width: 340px;
    height: 460px;
    background-color: #F5F0E0;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;


}
.t1{
    width: 340px;
    overflow: hidden;
    text-align: center;
    
}
.quietnice1{
    width: 80%;
}
.quietnice2{
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    opacity: 0;
    transition: all 0.5s ease;
}
.textcenter{
    margin-top: 120px;
}
.sub1{
    font-size: 22px;
}
.t1:hover .quietnice2{
    opacity: 1;
}
.t1:hover .sub1{
    text-decoration: underline;
}
.nen-2{
    background-color: #FFFAEF;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1A5908;
    transition: all 0.3s ease;
}
.quietnicecan{
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 60px;
}
.thefiber-rich{
    background-color: #2F4231;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.text-center{
    color: #B2D99A;
    font-size: 70px;
    text-align: center;
    display: inline;
    justify-content: center;
    padding: 20px 40px 8px 40px;
}
.text-center img{
    display: inline;
    width: fit-content;
    height: fit-content;
}
.chuchay{
    background-color: #B2D99A;
    color: #1A5908;
    padding: 10px 0px;
    border-bottom: 1px solid #1A5908;
    font-size: 20px;
    overflow: hidden;

}
.cay{
    margin-top:60px ;
}
.chay{
    display: flex;
    gap: 60px;
    width: max-content;
    animation: run 12s linear infinite;
    
}
.chay1{
    display: flex;
    gap: 60px;
}
.quietnicecan{
    font-size: 20px;
}
.minisidebar{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #2F4231;
    color: #B2D99A;
    position: fixed;
    right: -130% ;
    transition: all 0.6s ease;
    z-index: 5;

}
.anhlongmabgiang{
    display: none;
    cursor: pointer;
}
@keyframes run {
    0%{
        transform: translateX(-50%);
    
    }
    100%{
        transform: translateX(0);
    }
    
}
@media (max-width: 768px){
    .text-center img{
        width: 60px ;
        height: 60px;
    }
    .nen{
        padding: 0px 80px 80px 80px;
    }
    .text-center{
        font-size: 80px;
    }
    .anhlongmabgiang{
        display: flex;
    }
    .kidtask-1{
        display: none;
    }
    .kidtask-2{
        display: none;
    }
    .thefiberofourbeing{
        flex-direction: column-reverse;
        gap:0px;
        padding-top:20px ;
    }
    .gifvideo{
        width: 85%;
        margin-bottom: 40px;
    }
    .mainright{
        width: 90%;
    }
    .maintitle{
        font-size: 43px;
        text-align: center;
        
    }
    .subtitle{
        text-align: center;
    }
    .ourscience{
        text-align: center;
        border: 1px solid #1A5908;
        padding: 3px 6px;
        border-radius: 20px;
        background-color: #1A5908;
        color: #FFCE70;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.548)
    }
    .ourscienceandarrow{
        justify-content: center;
    }
    .arrow{
        opacity: 0;
        width: 0;
    }
    .ourscience:hover::after{
        opacity: 0;
    
    }
    .pictureoflong{
        justify-content: center;
        display: flex;
    }
    .fourpicreveal{
        flex-direction: column;
    }
    .sub1{
        font-size: 25px;
    }
    .imgcontainer-t{
        margin-bottom: 8px;
        margin-top: 20px;
    }
}